body{
    font-family:  Montserrat;
}

html{
    scroll-behavior: smooth;
}

#contact {
  position: relative ;
  right: 20px;
}


ul#dropdown1 {
  background-color:  #212121 !important;
  
}

ul#dropdown1 a {
  color: white !important;
}

ul#dropdown2 {
  background-color:  #212121 !important;
  
}

ul#dropdown2 a {
  color: white !important;
}


.btncontact{
    box-shadow: none!important;
    color:rgba(0, 0, 0, 0.87)!important;
}


.pj1{
    background-image: url(../img/pj1/bgpj1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pj2{
    background-image: url(../img/projet_2/bgpj2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pj3{
    background-image: url(../img/pj3/bgpj3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.colornav{
    background-color : #0F0E0E
}

.carousel .carousel-item{
    width: 450px!important;
    height: 450px!important;
}

.margincarou{
    margin-top: 80px!important;
}

h1{
    font-size: 55px;
}
h2{
    font-size: 45px;
}

.no-shadow{
    box-shadow: none!important;
}

  